@tailwind base;
@tailwind components;
@tailwind utilities;

@import "open-props/shadows";
@import "open-props/gradients";
@import "open-props/easings";
@import "open-props/animations";

/* :root { */
/*   --background: 0 0% 100%; */
/*   --foreground: 222.2 47.4% 11.2%; */
/*   --muted: 210 40% 96.1%; */
/*   --muted-foreground: 215.4 16.3% 46.9%; */
/*   --popover: 0 0% 100%; */
/*   --popover-foreground: 222.2 47.4% 11.2%; */
/*   --card: 210 40% 98%; */
/*   --card-foreground: 222.2 47.4% 11.2%; */
/*   --border: 214.3 31.8% 91.4%; */
/*   --input: 214.3 31.8% 91.4%; */
/*   --primary: 222.2 47.4% 11.2%; */
/*   --primary-foreground: 210 40% 98%; */
/*   --secondary: 210 40% 96.1%; */
/*   --secondary-foreground: 222.2 47.4% 11.2%; */
/*   --accent: 210 40% 96.1%; */
/*   --accent-foreground: 222.2 47.4% 11.2%; */
/*   --destructive: 0 100% 50%; */
/*   --destructive-foreground: 210 40% 98%; */
/*   --ring: 215 20.2% 65.1%; */
/* } */
/**/
/* .dark { */
/*   --background: 224 71% 4%; */
/*   --foreground: 213 31% 91%; */
/*   --muted: 223 47% 11%; */
/*   --muted-foreground: 215.4 16.3% 56.9%; */
/*   --popover: 224 47.4% 6%; */
/*   --popover-foreground: 215 20.2% 65.1%; */
/*   --card: 216 71% 6%; */
/*   --card-foreground: 213 31% 91%; */
/*   --border: 216 34% 17%; */
/*   --input: 216 34% 17%; */
/*   --primary: 210 40% 98%; */
/*   --primary-foreground: 222.2 47.4% 1.2%; */
/*   --secondary: 222.2 47.4% 11.2%; */
/*   --secondary-foreground: 210 40% 98%; */
/*   --accent: 216 34% 14%; */
/*   --accent-foreground: 210 40% 98%; */
/*   --destructive: 0 63% 31%; */
/*   --destructive-foreground: 210 40% 98%; */
/*   --ring: 216 34% 17%; */
/* } */

body:has(main.homepage)::before {
  --line: hsl(0 0% 65% / 0.25);
  --size: 80px;
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  background:
    linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);
  mask: linear-gradient(-15deg, transparent 30%, white);
  top: 0;
  z-index: -1;
  transform: translate3d(0, 0, -100vmin);
}

html.dark body:has(main.homepage)::before {
  --line: hsl(0 0% 95% / 0.15);
}

/* Hero image moving glow */
.glow {
  animation: move 10s linear infinite;
  offset-path: rect(0% auto 100% auto);
  background: radial-gradient(#fff, #f1f5f9, transparent);
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }

  100% {
    offset-distance: 100%;
  }
}

/* Bookmarks, feeds, notes styling */
.hero h1 {
  margin-block: 1rem;
  font-size: clamp(2rem, 1rem + 5vmin, 10rem);
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  line-height: 0.8;
}

.hero {
  --red: #262626;
  --green: #404040;
  --yellow: #525252;
  --speed: 0.65s;
}

.hero h1 span {
  --color: var(--red);
  color: var(--color);
  position: relative;
  clip-path: inset(-20% 0);
  animation-name: text-reveal, shimmy;
  animation-duration: var(--speed);
  animation-delay: calc((0.5 + var(--index)) * (var(--speed) / 3));
  animation-fill-mode: both;
  animation-timing-function: steps(1), ease-out;
  font-weight: 800;
}

@keyframes shimmy {
  0% {
    transform: translateX(-1ch);
  }
}

@keyframes text-reveal {
  0% {
    color: transparent;
  }
  50%,
  100% {
    color: var(--color);
  }
}

.hero h1 span:after {
  content: "";
  position: absolute;
  inset: -20% 0;
  background-color: var(--color);
  animation-name: block-reveal;
  animation-duration: var(--speed);
  animation-delay: calc((0.5 + var(--index)) * (var(--speed) / 3));
  animation-fill-mode: both;
}

@keyframes block-reveal {
  0% {
    transform: translateX(-110%);
  }
  45%,
  55% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(110%);
  }
}

.hero h1 span:nth-of-type(1) {
  --color: var(--green);
  --index: 0;
}

.hero h1 span:nth-of-type(2) {
  --color: var(--yellow);
  --index: 1;
}

.hero h1 span:nth-of-type(3) {
  --color: var(--red);
  --index: 2;
}

/* 
 * Homepage Horizontal Scroller 
 * @link https://codepen.io/jh3y/pen/GReZEwK
 **/

.homepage-scroll {
  --card-width: 300px;
  --card-width: clamp(300px, 80vmin, 400px);
}

.homepage-scroll .track {
  width: 100svw;
  position: relative;
  height: 100%;
}

.homepage-scroll .track ::-webkit-scrollbar {
  display: none;
}

.homepage-scroll ul {
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
  padding-inline: calc(50vw - (var(--card-width) * 0.5));
  scroll-snap-type: x mandatory;
  max-width: 100%;
  list-style-type: none;
  overflow: auto;
  height: 100%;
  align-content: center;
  align-items: center;
  scroll-behavior: smooth;
  scroll-padding-inline: calc(50vw - (var(--card-width) * 0.5));
}

.homepage-scroll li {
  scroll-snap-align: center;
  padding: 0;
  margin: 0;
}

.homepage-scroll :is(li, .indicator):nth-of-type(1) {
  --hue: 0;
}
.homepage-scroll :is(li, .indicator):nth-of-type(2) {
  --hue: 140;
}
.homepage-scroll :is(li, .indicator):nth-of-type(3) {
  --hue: 45;
}
.homepage-scroll :is(li, .indicator):nth-of-type(4) {
  --hue: 210;
}
.homepage-scroll :is(li, .indicator):nth-of-type(5) {
  --hue: 280;
}

.homepage-scroll article {
  width: var(--card-width);
  aspect-ratio: 4 / 3;
  background:
    radial-gradient(circle at center, hsl(0 0% 100% / 0.65), transparent) fixed,
    linear-gradient(hsl(var(--hue) 100% 0% / 0.25), transparent),
    linear-gradient(transparent, hsl(var(--hue) 0% 10% / 0.5)),
    hsl(var(--hue, 10) 0% 6%);
  box-shadow:
    0 1px hsl(0 0% 100% / 0.5) inset,
    0 10px 20px -10px black;
  border-radius: 1rem;
  border-top: 2px solid hsl(var(--hue, 10) 80% 60% / 0.75);
}

.homepage-scroll .track__indicators {
  height: 20px;
  position: absolute;
  top: calc(50% + ((var(--card-width) * (3 / 4)) * 0.5) + 2rem);
  left: 50%;
  translate: -50% 0;
  display: flex;
}
.homepage-scroll .indicator {
  --color: hsl(var(--hue, 0) 0% 86%);
  background: linear-gradient(var(--color), var(--color)) padding-box;
  flex: 1;
  border-radius: 100px;
  height: 100%;
  min-width: 20px;
  cursor: pointer;
  padding: 0;
  position: relative;
  border: 4px solid transparent;
}

.homepage-scroll .indicator::after {
  content: "";
  border-radius: 100px;
  position: absolute;
  inset: 0;
  background: hsl(var(--hue) 90% 70%);
}

@supports (animation-timeline: scroll()) {
  .homepage-scroll .track {
    timeline-scope: --one, --two, --three, --four, --five;
  }

  .homepage-scroll .track__indicators {
    aspect-ratio: 7 / 1;
  }

  .homepage-scroll li:nth-of-type(1) {
    view-timeline: --one inline;
  }
  .homepage-scroll li:nth-of-type(2) {
    view-timeline: --two inline;
  }
  .homepage-scroll li:nth-of-type(3) {
    view-timeline: --three inline;
  }
  .homepage-scroll li:nth-of-type(4) {
    view-timeline: --four inline;
  }
  .homepage-scroll li:nth-of-type(5) {
    view-timeline: --five inline;
  }

  .homepage-scroll .indicator {
    --buffer: calc(var(--card-width) * 0.9);
    animation: blink both linear;
    animation-range: contain calc(50% - var(--buffer)) contain
      calc(50% + var(--buffer));
  }

  .homepage-scroll .indicator:nth-of-type(1) {
    animation-timeline: --one;
  }
  .homepage-scroll .indicator:nth-of-type(2) {
    animation-timeline: --two;
  }
  .homepage-scroll .indicator:nth-of-type(3) {
    animation-timeline: --three;
  }
  .homepage-scroll .indicator:nth-of-type(4) {
    animation-timeline: --four;
  }
  .homepage-scroll .indicator:nth-of-type(5) {
    animation-timeline: --five;
  }

  @keyframes blink {
    50% {
      flex: 3;
    }
  }

  .homepage-scroll .indicator::after {
    --buffer: calc(var(--card-width) * 0.9);
    opacity: 0;
    animation: show both linear;
    animation-range: contain calc(50% - var(--buffer)) contain
      calc(50% + var(--buffer));
  }

  .homepage-scroll .indicator:nth-of-type(1)::after {
    animation-timeline: --one;
  }
  .homepage-scroll .indicator:nth-of-type(2)::after {
    animation-timeline: --two;
  }
  .homepage-scroll .indicator:nth-of-type(3)::after {
    animation-timeline: --three;
  }
  .homepage-scroll .indicator:nth-of-type(4)::after {
    animation-timeline: --four;
  }
  .homepage-scroll .indicator:nth-of-type(5)::after {
    animation-timeline: --five;
  }

  @keyframes show {
    50% {
      opacity: 1;
    }
  }
}

/* 
 * Hero Text Gradient
 * @link https://codepen.io/jh3y/pen/PoLmpOB
 **/

.hero-text h1 {
  --font-size: clamp(2rem, 8vw + 1rem, 12rem);
  margin: 0;
  color: black;
  font-size: var(--font-size);
  position: relative;
  display: flex;
  align-items: flex-start;
  line-height: 1.2;
}

html.dark .hero-text h1 {
  color: hsl(0 0% 100%);
}

.hero-text h1 > span:first-of-type {
  display: inline-block;
  line-height: 0.8;
}

.hero-text .pops {
  position: absolute;
  inset: 0px;
  background: white;
  mix-blend-mode: lighten;
  filter: brightness(2);
  overflow: hidden;
  pointer-events: none;
}
html.dark .hero-text .pops {
  mix-blend-mode: darken !important;
}

@keyframes pop {
  50% {
    background-size: 100% 100%;
  }
}

.hero-text .pop {
  height: var(--size, 100%);
  aspect-ratio: 1;
  background: radial-gradient(hsl(var(--h) 100% 70%) 25%, transparent 50%);
  position: absolute;
  display: inline-block;
  animation: scale var(--s, 5s) var(--d, 2s) infinite alternate;
  left: var(--x, 0);
  top: var(--y, 0);
  scale: 2;
  translate: -50% -50%;
  mix-blend-mode: multiply;
  filter: blur(5px);
}

.hero-text .pop:nth-of-type(1) {
  --x: 10%;
  --y: 25%;
  --h: 277;
  --s2: 6;
  --d: -0.25s;
  --s: 7s;
}

.hero-text .pop:nth-of-type(2) {
  --x: 50%;
  --y: 45%;
  --h: 140;
  --s2: 5;
  --d: -0.75s;
  --s: 6s;
}
.hero-text .pop:nth-of-type(3) {
  --x: 65%;
  --y: 75%;
  --h: 210;
  --s2: 3;
  --d: -0.5s;
  --s: 5s;
}
.hero-text .pop:nth-of-type(4) {
  --x: 85%;
  --y: 15%;
  --h: 320;
  --s2: 5;
  --d: -1s;
  --s: 3s;
}
.hero-text .pop:nth-of-type(5) {
  --x: 15%;
  --y: 100%;
  --h: 40;
  --s2: 3;
  --d: -1s;
  --s: 3s;
}

@keyframes scale {
  to {
    scale: var(--s2);
  }
}
